---
- name: Install nginx
  become: yes
  yum:
    name: nginx
    state: latest

- name: Copy conf file with change nginx port to 9000
  become: yes
  copy:
    src: overide_nginx.conf
    dest: /etc/nginx/conf.d/default.conf

- name: enable nginx service
  become: yes
  service:
    name: nginx
    state: restarted
    enabled: yes

- name: Hit the nginx server
  uri:
    url: http://192.168.33.10:9000
    status_code: 200