- name: Install nginx
  become: yes
  yum:
    name: nginx
    state: latest

- name: Copy conf file with change nginx port to 8080
  become: yes
  copy:
    src: ../app1/overide_nginx.conf
    dest: /etc/nginx/conf.d/default.conf

- name: enable nginx service
  become: yes
  service:
    name: nginx
    state: restarted
    enabled: yes